<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
{% block linki %}
<h4>Nawigacja:
    <a class="btn btn-primary" href=".">Strona główna</a>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Przepisy
        </button>


        <div class="dropdown-menu">
            <a class="dropdown-item" href="przepisy">Wszystkie przepisy</a>
            <a class="dropdown-item" href="ciasta">Przepisy na ciasta</a>
            <a class="dropdown-item" href="ciasteczka">Przepisy na ciasteczka</a>
            <a class="dropdown-item" href="kremy">Przepisy na kremy</a>
            <a class="dropdown-item" href="polewy">Przepisy na polewy</a>
        </div>
    </div>
    <a class="btn btn-primary" href="wyszukiwanie">Znajdź przepis</a>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Logowanie
        </button>


        <div class="dropdown-menu">
            <a class="dropdown-item" href="login">Zaloguj</a>
            <a class="dropdown-item" href="logout">Wyloguj</a>
        </div>
    </div>

    {%if session:%}
    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Dodaj
        </button>


        <div class="dropdown-menu">
            <a class="dropdown-item" href="dodanie">Jak dodać przepis</a>
            <a class="dropdown-item" href="dodanie_skladnika_s">Dodanie nowego składnika</a>
            <a class="dropdown-item" href="dodanie_krem">Dodanie kremu/polewy</a>
            <a class="dropdown-item" href="dodanie_ciasta">Dodanie ciasta/ciasteczek</a>
            <a class="dropdown-item" href="dodanie_skladnika_k">Dodanie skladnika do kremu/polewy</a>
            <a class="dropdown-item" href="dodanie_skladnika_c">Dodanie skladnika do ciasta/ciasteczek</a>
        </div>
    </div>

    <a class="btn btn-danger" href="usun_ciasto">Usuń przepis</a>
    {%endif%}
    {% endblock %}
</h4>

<div class="ramka">
    <style>
    .ramka {
        border: 1px solid navajowhite;
        background: rgb(210, 255, 255);
        padding: 20px;
    }

    </style>

    {% block zawartosc %}
    {% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>