<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<title>Strona główna</title>
{% extends "base.html" %}
{% block zawartosc %}
{% if messages %}
<center><div class="alert alert-danger">{{ messages[0] }}</div></center>
{% endif %}

<center><h2>Witaj na stronie z moimi ulubionymi słodkimi przepisami!</h2></center>


<div class="text-center">
    <img width="546" height="451" src="/static/3.jpg" class="rounded-lg" alt="...">
</div>
{% endblock %}
