<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block zawartosc %}
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>

</head>
<body>


<h2>Logowanie:</h2>

{% if messages %}
<div class="alert alert-danger">{{ messages[0] }}</div>
{% endif %}

<form method="post" action="">
    <table>
        <tr>
            <td>nazwa użytkownika:</td>
            <td><input type="text" class="form-control" name="username"></td>
        </tr>
        <tr>
            <td>hasło:</td>
            <td><input type="password" class="form-control" name="password"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" class="btn btn-success btn-sm">
                <input type="reset" class="btn btn-danger btn-sm"></td>
        </tr>
    </table>
</form>

</body>
</html>
{% endblock %}